In [33]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
%matplotlib inline
import time

# Replace the path with the correct path for your data.
y2015_original = pd.read_csv(
    'C:\\Users\\maken\\Downloads\\LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)
y2015_original.head()

C:\Users\maken\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [34]:
y2015 = y2015_original

In [35]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [38]:
# Drop other columns with many unique variables
#y2015_original.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
 #           'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [36]:
y2015 = y2015.loc[:,['member_id','loan_amnt','funded_amnt','int_rate','annual_inc','loan_status']]

In [37]:
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

In [38]:
y2015['member_id'] = pd.to_numeric(y2015['member_id'], errors = 'coerce')

In [39]:
y2015['loan_amnt'] = pd.to_numeric(y2015['loan_amnt'], errors = 'coerce')

In [40]:
y2015['funded_amnt'] = pd.to_numeric(y2015['funded_amnt'], errors = 'coerce')

In [41]:
y2015['annual_inc'] = pd.to_numeric(y2015['annual_inc'], errors = 'coerce')

In [42]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [43]:
pd.get_dummies(y2015)

,member_id,loan_amnt,funded_amnt,int_rate,annual_inc,loan_status_Charged Off,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days)
0,72868139.0,16000.0,16000.0,14.85,48000.0,0,1,0,0,0,0,0
1,73244544.0,9600.0,9600.0,7.49,60000.0,0,1,0,0,0,0,0
2,73356753.0,25000.0,25000.0,7.49,109000.0,0,0,0,1,0,0,0
3,73356799.0,28000.0,28000.0,6.49,92000.0,0,1,0,0,0,0,0
4,73384866.0,8650.0,8650.0,19.89,55000.0,0,0,0,1,0,0,0
5,73396623.0,23000.0,23000.0,8.49,64000.0,0,1,0,0,0,0,0
6,73456723.0,29900.0,29900.0,12.88,65000.0,0,1,0,0,0,0,0
7,73467703.0,18000.0,18000.0,11.99,112000.0,0,0,0,1,0,0,0
8,71035433.0,35000.0,35000.0,14.85,110000.0,0,1,0,0,0,0,0
9,73366655.0,10400.0,10400.0,22.45,104433.0,0,0,0,1,0,0,0
10,72928789.0,20000.0,20000.0,10.78,63000.0,0,1,0,0,0,0,0
11,73246236.0,22400.0,22400.0,12.88,95000.0,0,1,0,0,0,0,0
12,73316365.0,16000.0,16000.0,12.88,70000.0,0,1,0,0,0,0,0
13,73297111.0,3600.0,3600.0,13.99,55000.0,0,1,0,0,0,0,0
14,73244858.0,24700.0,24700.0,11.99,65000.0,0,0,0,1,0,0,0
15,73356763.0,10000.0,10000.0,6.49,85000.0,0,1,0,0,0,0,0
16,73542831.0,1400.0,1400.0,12.88,64000.0,0,1,0,0,0,0,0
17,73316657.0,11950.0,11950.0,13.44,34000.0,0,1,0,0,0,0,0
18,71350547.0,18000.0,18000.0,19.48,150000.0,0,1,0,0,0,0,0
19,73519699.0,8000.0,8000.0,11.48,42000.0,0,1,0,0,0,0,0
20,72077199.0,20000.0,20000.0,8.49,85000.0,0,1,0,0,0,0,0
21,73366513.0,20000.0,20000.0,9.17,180000.0,0,0,0,1,0,0,0
22,73366548.0,28000.0,28000.0,13.44,125000.0,0,1,0,0,0,0,0
23,73326493.0,5000.0,5000.0,13.44,79000.0,0,1,0,0,0,0,0
24,73485987.0,20000.0,20000.0,5.32,65000.0,0,1,0,0,0,0,0
25,72708407.0,4225.0,4225.0,14.85,35000.0,0,1,0,0,0,0,0
26,73416719.0,15000.0,15000.0,5.32,44000.0,0,1,0,0,0,0,0
27,73509983.0,17600.0,17600.0,5.32,88000.0,0,0,0,1,0,0,0
28,73366561.0,6000.0,6000.0,7.49,100000.0,0,1,0,0,0,0,0
29,72569997.0,16000.0,16000.0,12.88,65000.0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
421065,39374138.0,13000.0,13000.0,8.19,85000.0,0,1,0,0,0,0,0
421066,38942474.0,15000.0,15000.0,11.99,70000.0,0,1,0,0,0,0,0
421067,39434133.0,20000.0,20000.0,6.99,72000.0,0,1,0,0,0,0,0
421068,39486112.0,4200.0,4200.0,15.99,48000.0,1,0,0,0,0,0,0
421069,39042967.0,26950.0,26950.0,8.19,54000.0,0,0,0,1,0,0,0
421070,39182359.0,23000.0,23000.0,15.59,50000.0,0,1,0,0,0,0,0
421071,38468842.0,18700.0,18700.0,17.86,52000.0,0,0,0,1,0,0,0
421072,38962184.0,6000.0,6000.0,17.86,90000.0,0,1,0,0,0,0,0
421073,39103231.0,15000.0,15000.0,11.44,57000.0,0,1,0,0,0,0,0
421074,39152101.0,25000.0,25000.0,15.99,103000.0,0,0,0,0,0,0,1
421075,39093260.0,26500.0,26500.0,8.67,92000.0,0,1,0,0,0,0,0
421076,38288343.0,25000.0,25000.0,15.59,55000.0,0,0,0,1,0,0,0
421077,38913321.0,21000.0,21000.0,6.03,65000.0,0,1,0,0,0,0,0
421078,39013193.0,8000.0,8000.0,8.19,50000.0,0,1,0,0,0,0,0
421079,38943173.0,12000.0,12000.0,9.49,40000.0,0,0,0,1,0,0,0
421080,39023153.0,10000.0,10000.0,6.49,75000.0,0,1,0,0,0,0,0
421081,38961532.0,13150.0,13150.0,14.99,30000.0,0,0,0,1,0,0,0
421082,38952731.0,6225.0,6225.0,16.49,27000.0,0,0,0,1,0,0,0
421083,38943165.0,10775.0,10775.0,6.03,54000.0,0,0,0,1,0,0,0
421084,39013139.0,7000.0,7000.0,14.31,57000.0,0,1,0,0,0,0,0
421085,39142898.0,4000.0,4000.0,8.67,50000.0,0,0,0,1,0,0,0
421086,37777829.0,7500.0,7500.0,9.49,40000.0,0,1,0,0,0,0,0
421087,38972123.0,10850.0,10850.0,19.24,32000.0,1,0,0,0,0,0,0
421088,38932858.0,11575.0,11575.0,15.59,25400.0,0,0,0,1,0,0,0
421089,39042282.0,12000.0,12000.0,11.99,63000.0,1,0,0,0,0,0,0
421090,39102635.0,10000.0,10000.0,11.99,31000.0,0,1,0,0,0,0,0
421091,39152692.0,24000.0,24000.0,11.99,79000.0,0,1,0,0,0,0,0
421092,38982739.0,13000.0,13000.0,15.99,35000.0,1,0,0,0,0,0,0
421093,39222577.0,12000.0,12000.0,19.99,64400.0,1,0,0,0,0,0,0
421094,38982659.0,20000.0,20000.0,11.99,100000.0,0,1,0,0,0,0,0

In [44]:
# Find the unique loan statuses
y2015.loan_status.unique()

array(['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'In Grace Period', 'Default', 'Late (16-30 days)'], dtype=object)

In [45]:
# Need to change each of the seven unique loan_status values to an id of 1-7
# Use pd.Categorical to assign int ids to the unique loan_status values
y2015['loan_status'] = pd.Categorical(y2015.loan_status)

In [46]:
print(y2015.loan_status.cat.codes.unique())

[1 3 0 6 4 2 5]

In [47]:
y2015.head()

    member_id  loan_amnt  funded_amnt  int_rate  annual_inc loan_status
0  72868139.0    16000.0      16000.0     14.85     48000.0     Current
1  73244544.0     9600.0       9600.0      7.49     60000.0     Current
2  73356753.0    25000.0      25000.0      7.49    109000.0  Fully Paid
3  73356799.0    28000.0      28000.0      6.49     92000.0     Current
4  73384866.0     8650.0       8650.0     19.89     55000.0  Fully Paid

In [52]:
y2015.drop(['member_id'], axis=1, inplace=True)

In [53]:
y2015 = y2015.dropna()

no_loan_status = y2015.drop(['loan_status'], axis=1)
print(no_loan_status)

        loan_amnt  funded_amnt  int_rate  annual_inc
0         16000.0      16000.0     14.85     48000.0
1          9600.0       9600.0      7.49     60000.0
2         25000.0      25000.0      7.49    109000.0
3         28000.0      28000.0      6.49     92000.0
4          8650.0       8650.0     19.89     55000.0
5         23000.0      23000.0      8.49     64000.0
6         29900.0      29900.0     12.88     65000.0
7         18000.0      18000.0     11.99    112000.0
8         35000.0      35000.0     14.85    110000.0
9         10400.0      10400.0     22.45    104433.0
10        20000.0      20000.0     10.78     63000.0
11        22400.0      22400.0     12.88     95000.0
12        16000.0      16000.0     12.88     70000.0
13         3600.0       3600.0     13.99     55000.0
14        24700.0      24700.0     11.99     65000.0
15        10000.0      10000.0      6.49     85000.0
16         1400.0       1400.0     12.88     64000.0
17        11950.0      11950.0     13.44     34000.0
18        18000.0      18000.0     19.48    150000.0
19         8000.0       8000.0     11.48     42000.0
20        20000.0      20000.0      8.49     85000.0
21        20000.0      20000.0      9.17    180000.0
22        28000.0      28000.0     13.44    125000.0
23         5000.0       5000.0     13.44     79000.0
24        20000.0      20000.0      5.32     65000.0
25         4225.0       4225.0     14.85     35000.0
26        15000.0      15000.0      5.32     44000.0
27        17600.0      17600.0      5.32     88000.0
28         6000.0       6000.0      7.49    100000.0
29        16000.0      16000.0     12.88     65000.0
...           ...          ...       ...         ...
421065    13000.0      13000.0      8.19     85000.0
421066    15000.0      15000.0     11.99     70000.0
421067    20000.0      20000.0      6.99     72000.0
421068     4200.0       4200.0     15.99     48000.0
421069    26950.0      26950.0      8.19     54000.0
421070    23000.0      23000.0     15.59     50000.0
421071    18700.0      18700.0     17.86     52000.0
421072     6000.0       6000.0     17.86     90000.0
421073    15000.0      15000.0     11.44     57000.0
421074    25000.0      25000.0     15.99    103000.0
421075    26500.0      26500.0      8.67     92000.0
421076    25000.0      25000.0     15.59     55000.0
421077    21000.0      21000.0      6.03     65000.0
421078     8000.0       8000.0      8.19     50000.0
421079    12000.0      12000.0      9.49     40000.0
421080    10000.0      10000.0      6.49     75000.0
421081    13150.0      13150.0     14.99     30000.0
421082     6225.0       6225.0     16.49     27000.0
421083    10775.0      10775.0      6.03     54000.0
421084     7000.0       7000.0     14.31     57000.0
421085     4000.0       4000.0      8.67     50000.0
421086     7500.0       7500.0      9.49     40000.0
421087    10850.0      10850.0     19.24     32000.0
421088    11575.0      11575.0     15.59     25400.0
421089    12000.0      12000.0     11.99     63000.0
421090    10000.0      10000.0     11.99     31000.0
421091    24000.0      24000.0     11.99     79000.0
421092    13000.0      13000.0     15.99     35000.0
421093    12000.0      12000.0     19.99     64400.0
421094    20000.0      20000.0     11.99    100000.0

[421095 rows x 4 columns]

In [54]:
start_time = time.time()

# This is the model we'll be using.
from sklearn import tree

# A convenience for displaying visualizations.
from IPython.display import Image

# Packages for rendering our tree.
import pydotplus
import graphviz

# Initialize and train our tree.
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=4,
    random_state = 1337
)
decision_tree.fit(no_loan_status, y2015.loan_status.cat.codes)

# Render our tree.
dot_data = tree.export_graphviz(
    decision_tree, out_file=None,
    feature_names=y2015.columns,
    class_names= y2015.loan_status.cat.categories,
    filled=True
)
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())



print("--- %s seconds ---" % (time.time() - start_time))

--- 0.8206820487976074 seconds ---

In [55]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

start_time = time.time()

rfc = ensemble.RandomForestClassifier()
X = no_loan_status
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

print("--- %s seconds ---" % (time.time() - start_time))

--- 85.65988516807556 seconds ---

The Random Forest Method () was __________ than the Decision Tree Method ()