In [69]:
'''
PROMPT:
Find a data set and build a KNN Regression and an OLS regression. 
Compare the two. 
How similar are they? 
Do they miss in different ways?
'''


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
from sklearn import neighbors
%matplotlib inline

num = pd.read_csv('C:\\Users\\maken\\num.txt', sep = '\t')
tag = pd.read_csv('C:\\Users\\maken\\tag.txt', sep = '\t')
sub = pd.read_csv('C:\\Users\\maken\\sub.txt', sep = '\t')

In [70]:
num.head()

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0001477932-16-014447,EntityCommonStockSharesOutstanding,dei/2014,NaN,20161231,0,shares,67538142.0,NaN
1,0001477932-16-014447,AccountsAndOtherReceivablesNetCurrent,us-gaap/2016,NaN,20151231,0,USD,NaN,NaN
2,0001477932-16-014447,AccountsAndOtherReceivablesNetCurrent,us-gaap/2016,NaN,20160930,0,USD,NaN,NaN
3,0001477932-16-014447,AccountsReceivableNetCurrent,us-gaap/2016,NaN,20151231,0,USD,95563.0,NaN
4,0001477932-16-014447,AccountsReceivableNetCurrent,us-gaap/2016,NaN,20160930,0,USD,146102.0,NaN

In [71]:
tag.head()

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,AccountsPayableCurrent,us-gaap/2015,0,0,monetary,I,C,"Accounts Payable, Current",Carrying value as of the balance sheet date of...
1,AccountsPayableRelatedPartiesCurrent,us-gaap/2015,0,0,monetary,I,C,"Accounts Payable, Related Parties, Current",Amount for accounts payable to related parties...
2,AccountsReceivableNetCurrent,us-gaap/2015,0,0,monetary,I,D,"Accounts Receivable, Net, Current","Amount due from customers or clients, within o..."
3,AccruedLiabilitiesCurrent,us-gaap/2015,0,0,monetary,I,C,"Accrued Liabilities, Current",Carrying value as of the balance sheet date of...
4,AccumulatedDepreciationDepletionAndAmortizatio...,us-gaap/2015,0,0,monetary,I,C,"Accumulated Depreciation, Depletion and Amorti...","Amount of accumulated depreciation, depletion ..."

In [72]:
sub.head()

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000002178-17-000019,2178,"ADAMS RESOURCES & ENERGY, INC.",5172.0,US,TX,HOUSTON,77027,17 S. BRIAR HOLLOW LN.,NaN,...,20161231,2016.0,FY,20170331,2017-03-31 12:28:00.0,0,1,ae-20161231.xml,1,NaN
1,0000002488-17-000043,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SUNNYVALE,94085,ONE AMD PL,MS 68,...,20161231,2016.0,FY,20170221,2017-02-21 16:52:00.0,0,1,amd-20161231.xml,1,NaN
2,0000002969-17-000010,2969,AIR PRODUCTS & CHEMICALS INC /DE/,2810.0,US,PA,ALLENTOWN,18195-1501,7201 HAMILTON BLVD,NaN,...,20161231,2017.0,Q1,20170127,2017-01-27 14:02:00.0,0,1,apd-20161231.xml,1,NaN
3,0000003499-17-000004,3499,ALEXANDERS INC,6798.0,US,NJ,PARAMUS,07652,210 ROUTE 4 EAST,NaN,...,20161231,2016.0,FY,20170213,2017-02-13 08:30:00.0,0,1,alx-20161231.xml,1,NaN
4,0000003545-17-000021,3545,ALICO INC,100.0,US,FL,"FT. MYERS,",33913,10070 DANIELS INTERSTATE COURT STE. 100,NaN,...,20161231,2017.0,Q1,20170206,2017-02-06 16:33:00.0,0,1,alco-20161231.xml,1,NaN

In [60]:
# Find the length of the file
len(num)

1927179

In [61]:
# Find the length of the NaN values
sum(num['value'].isnull())

39906

In [62]:
# Calculate the percentage of NaN values
print(39906/1927179)

0.02070695041820194

Looks like 39906 of the 192179 values, or 2%, are NaN

In [ ]:
# Build our model.
knn = neighbors.KNeighborsRegressor(n_neighbors=10)
X = pd.DataFrame(music.loudness)
Y = music.bpm
knn.fit(X, Y)

# Set up our prediction line.
T = np.arange(0, 50, 0.1)[:, np.newaxis]

# Trailing underscores are a common convention for a prediction.
Y_ = knn.predict(T)

plt.scatter(X, Y, c='k', label='data')
plt.plot(T, Y_, c='g', label='prediction')
plt.legend()
plt.title('K=10, Unweighted')
plt.show()

In [ ]:
# Since we have two UoMs, make